# Rails
APP_URL='http://dreams.midburn.org/'

# Sendgrid integration
SENDGRID_PASSWORD=''
SENDGRID_USERNAME=''

# Tixwise.co.il integration
TICKETS_EVENT_URL=''

# New relic
NEW_RELIC_LICENSE_KEY=''

# Production aws
S3_BUCKET_NAME=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# Application specific
IMPORT_CSV_URL=''
DISABLE_EDIT_BUDGET=false
DISABLE_EDIT_SAFETYBAG=false
DISABLE_OPEN_NEW_DREAM=false
EMAIL_FROM='galbra@gmail.com'
GOOGLE_APPS_SCRIPT='google-apps-script-id-for-drive-sync'
GOOGLE_APPS_NAME='google-apps-script-app-name'
GOOGLE_DRIVE_INTEGRATION=false
GOOGLE_APPS_SCRIPT_FUNCTION='google-apps-script-function-name-to-call'
GOOGLE_CLIENT_SECRETS='{"installed":{"client_id":"CLEINT-ID.apps.googleusercontent.com","project_id":"project-id-SHOULD-BE-HERE-NUMBER","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.com/o/oauth2/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"CLIENT_SECRET_IS_HERE","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}'
GOOGLE_APPS_SCRIPT_TOKEN='{"client_id":"CLIENT-ID.apps.googleusercontent.com","access_token":"ACCESS-TOKEN","refresh_token":"1/ADSQxS5p3wgnZuctr_d4Wa8Gqtq3ZzNJ9Zx8DZrtKSo","scope":["https://www.googleapis.com/auth/drive"],"expiration_time_millis":1482770139000}'

# Facebook integration
FACEBOOK_APP_ID=''
FACEBOOK_APP_SECRET=''

MULTI_LANG_SUPPORT=true
CREW_SIZE=true
PERSON_EARLY_ARRIVAL=true
PERSON_HAS_TICKET=true
