<%
  lockdown_info = Lockdown.instance.next(except)
  if lockdown_info.present?
      time_left = distance_of_time_in_words(Time.now, lockdown_info[1], false, highest_measures: 2)
    action = t("dont_miss_out.actions.#{lockdown_info[0]}")
%>
<div class="row alignedrow">
  <p class="notice" style='float: <%=t :lang_direction %>' dir='<%=t :html_direction %>'>
    <%= t(:'dont_miss_out.banner', time: time_left, action: action) %>
  </p>
</div>
<% end %>
