= simple_form_for @camp, :html => {:dir => I18n.t(:html_direction), :id => 'camp-form' } do |form|
  .combo
    = form.text_field :dream_point_of_contact_email, :maxlength => 64, :class => "form-control"
  .submit
    = form.submit t(:update_point_of_contact), id: 'done-camp', class: 'btn btn-success'
