<div class="row">
  <h1>FAQ</h1>
  <br>
  <ul>    

    <li><b>Q: Can I see what is behind the Kimono?</b><br>
    Sure! It is all Open Source - <a href="https://github.com/midburn/dreams/">Click Here</a>
    </li><br>

    <li><b>Q: Who created this magnificent piece of art?</b><br>
    <a href="http://dreams.midburn.org/pages/humans">Click on me to find out</a>
    </li><br>

    <li><b>Q: I have a question that doesn't have the answer here. who should I contact?</b><br>
    A: If you're a dreamer - In your dream page you will find 'Your contact from Art Department'
    <br>Otherwise - Email - artmidburn.sp@gmail.com
    </li><br><br><br><br>
  </ul>
</div>