<div class="row">
  <h1>שאלות ותשובות</h1>
  <br>
  <ul>

    <li><b>שאלה: מה זה לבבות?</b><br>
    תשובה: השנה החליטה קרן האמנות לשנות קצת את חוקי המשחק ולאפשר לקהילה להחליט כיצד יחולקו חלק מכספי הקרן. לשם כך, הושמשה מערכת החלומות הנפלאה ודרכה תוכל הקהילה לחלק כ-10% מכספי הקרן, באמצעות חלוקת לבבות בשווי שקל כל אחד. כל מי שקנתה כרטיס למידברן 2017 תוכל לחלק 10 לבבות למיצבים לפי בחירתה.
    </li><br>
    
    <li><b>שאלה: לאילו מיצבים יהיה ניתן לחלק לבבות?</b><br>
    תשובה:למיצבים שיבחרו להשתתף בחלוקת הלבבות ניתן וישלימו את הרשמתם במערכת עד לתאריך ה-28.2. על מנת להשלים את ההרשמה יש למלא את כל הפרטים הנדרשים בטופס במלואם.
    </li><br>

    <li><b>שאלה: מי יכול לחלק לבבות?</b><br>
    תשובה:כל מי שרכשה כרטיס למידברן 2017 מקבלת עשרה לבבות לחלוקה ברגע שהיא נכנסת למערכת החלומות עם המייל שמקושר לפרופיל מידברן שלה. ניתן לחלק את המטבעות איך שרוצים, כולם למיצב אחד או בין כמה מיצבים. אחרי שהלבבות חולקו לא ניתן לבטל או לשנות את החלוקה.
    </li><br>

    <li><b>שאלה: כמה שווה כל לב?</b><br>
    תשובה:טוב, זו שאלה קצת מסובכת, כי את הסכום הוודאי ניתן יהיה לדעת רק אחרי שנדע כמה לבבות חולקו ואחרי שנדע כמה מיצבים בסוף הגיעו לפלאיה. כל לב שווה לכל הפחות שקל 1 וכך הוא מחושב במערכת נכון לעכשיו.
    </li><br>

    <li><b>שאלה: נו, די באמת, כמה כל לב שווה?</b><br>
    תשובה:אוקיי, יש 50,000 שקלים שמוקצבים לחלוקה דרך המערכת. עד תום ההצבעות אמורים להיות כ-7000 בעלי כרטיסים שיכולים להצביע, שכל אחד מהם מקבל 10 לבבות לחלוקה. במידברנרות אחוזי חלוקת הלבבות דרך המערכת עמדו על 35%. כלומר, אם יוותרו האחוזים על כנם כל לב יהיה שווה בערך 2 שקלים. בנוסף, צריך לחשב את המיצבים שלא יצאו לפועל ולכן לא יקבלו תקציב. בשנה שעברה הגיעו כ-58% מהמיצבים שנרשמו דרך מחלקת אמנות וכ-73% מהמיצבים שהגישו לקרן. עם זאת, לא בלתי סביר לשער שמיצבים שישקיעו בגיוס דרך המערכת הם מיצבים שיצליחו גם להגיע לפלאיה. לכן ניתן לשער שלכל הפחות 20% מהלבבות שיחולקו יגיעו למיצבים. מה שמביא את ערך כל לב לכ-2.6 שקל. עם זאת, משום שמעולם לא היה שימוש במערכת באופן הזה ומשום שהסכומים הסופיים לא ידועים, הוחלט להעריך כל לב בשקל, אך לא בלתי סביר לשער שערכו יהיה גבוה מכך.
    </li><br>

    <li><b>שאלה: מתי ואיך יתקבל הכסף שמחולק דרך המערכת?</b><br>
    תשובה:לאחר מידברן ייעשה חישוב סופי של שווי הלבבות והסכום יצטרף לסכום המתקבל מקרן האמנות. ראוי לציין שיש לעמוד בתנאי הקרן על מנת לקבל את הכסף ממערכת החלומות. לאחר העמידה בתנאים (קישור לעמוד הקרן) ניתן לצפות לקבל את הכסף עד ה-1.9.
    </li><br>

    <li><b>שאלה: אפשר לראות מה יש מאחורי הקימונו?</b><br>
    בוודאי! המערכת נכתבה בקוד פתוח והיא זמינה <a href="https://github.com/midburn/dreams/">כאן</a>
    </li><br>

    <li><b>שאלה: מי יצר את הדבר המדהים הזה?</b><br>
    <a href="http://dreams.midburn.org/pages/humans">לחצו עליי</a>
    </li><br>

    <li><b>שאלה: יש לי שאלה שלא קיימת פה. עם מי אפשר ליצור קשר?</b><br>
    תשובה: אם אתה בעל חלום - בעמוד החלום מופי איש הקשר שלכם ממחלקת קשרי אמנים.
    <br>אחרת - כתבו לנו לאימייל של מחלקת קשרי אמנים - artmidburn.sp@gmail.com
    </li><br><br><br><br>
  </ul>
</div>