<div class="row">
<h1>שאלות ותשובות</h1>
<br>
<ul>
<li><b>שאלה: איך נרשמים למערכת?</b><br>
תשובה: בשלב הראשוני יש לקבל קוד מלשכת החלומות (צוות אמנות מידברנרות). בקרוב - אם קנית כרטיס למידברנרות תוכל להכניס את הטלפון שלך כקוד בכדי להכנס למערכת. ניתן לשלוח מייל ל midburnerot.art@gmail.com
</li><br>

<li><b>שאלה: מאיפה מגיעה המערכת הקסומה הזאת?</b><br>
תשובה: מבורדרלנד - הברן הדנמרקי! <a href="http://dreams.theborderland.se/">dreams.theborderland.se</a>. הבורדרלנדרים פיתחו את קוד המקור ואנחנו (לשכת החלומות של מידברנרות) פיתחנו ליטשנו ומידברנו אותה לצרכים של המידברנרות.
</li><br>

<li><b>שאלה: אפשר לראות מה יש מאחורי הקימונו?</b><br>
בוודאי! המערכת נכתבה בקוד פתוח והיא זמינה <a href="https://github.com/rootux/firestarter/">כאן https://github.com/rootux/firestarter</a>
</li><br>

<li><b>שאלה: מה זה מענקים?</b><br>
תשובה: 
</li><br>

<li><b>שאלה: מה יכול להיות חלום?</b><br>
תשובה: 
</li><br>

<li><b>שאלה: האם יממנו לי את כל החלום?</b><br>
תשובה: 
</li><br>

<li><b>שאלה: אם גייסתי את כל הכסף שביקשתי. מתי אקבלו?</b><br>
תשובה: 
</li><br>

<li><b>שאלה: אם החלום שלי הוא לבנות אפיג׳י או טמפל. האם פה זה המקום לפתוח חלום?</b><br>
תשובה: כן
</li><br>

<li><b>שאלה: יש לי שאלה שלא קיימת פה. עם מי אפשר ליצור קשר?</b><br>
תשובה: כתבו לנו לאימייל של לשכת החלומות - midburnerot.art@gmail.com
</li><br>
</ul>
</div>