<div class="row">
<h1>שאלות ותשובות</h1>
<br>
<ul>

  <li><b>שאלה: מאיפה מגיעה המערכת הקסומה הזאת?</b><br>
  תשובה: מבורדרלנד - הברן הדנמרקי! <a href="http://dreams.theborderland.se/">dreams.theborderland.se</a>. הבורדרלנדרים פיתחו את קוד המקור ואנחנו (לשכת החלומות של מידברנרות) פיתחנו ליטשנו ומידברנו אותה לצרכים של המידברנרות.
  </li><br>

  <li><b>שאלה: אפשר לראות מה יש מאחורי הקימונו?</b><br>
  בוודאי! המערכת נכתבה בקוד פתוח והיא זמינה <a href="https://github.com/midburn/dreams/">כאן https://github.com/midburn/dreams</a>
  </li><br>

  <li><b>שאלה: יש לי שאלה שלא קיימת פה. עם מי אפשר ליצור קשר?</b><br>
  תשובה: כתבו לנו לאימייל של לשכת החלומות - art@midburn.org
  </li><br><br><br><br>
</ul>
</div>