<div class="row">
<h1>שאלות ותשובות</h1>
<br>
<ul>
<li><b>שאלה: איך נרשמים למערכת?</b><br>
תשובה: בשלב הראשוני יש לקבל קוד ממדריך חלומות. בקרוב - אם קנית כרטיס למידברנרות תוכל להכניס את תעודת הזהות שלך כקוד וזה יאפשר לך להכנס למערכת.
</li><br>

<li><b>שאלה: מאיפה מגיעה המערכת הזאת?</b><br>
תשובה: בורדרלנד - הברן הדנמרקי <a href="http://dreams.theborderland.se/">dreams.theborderland.se</a>. הם פתחו את הקוד מקור ואנחנו התאמנו אותה לצרכים שלנו.
</li><br>

<li><b>שאלה: אפשר לראות מה יש מאחורי הקימונו?</b><br>
כמובן. המערכת נכתבה בקוד פתוח והיא זמינה <a href="https://github.com/rootux/firestarter/">כאן https://github.com/rootux/firestarter</a>
</li><br>

<li><b>שאלה: יש לי שאלה שלא קיימת פה. עם מי אפשר ליצור קשר?</b><br>
תשובה: אימייל של משרד מנהלי החלומות - midburnerot.art@gmail.com
</li><br>
</ul>
</div>