<div class="row">
<h1>שאלות ותשובות</h1>
<br>
<ul>
<li><b>שאלה: איך נרשמים למערכת?</b><br>
תשובה: אם תרמת לארוע, תוכל להכניס את האימייל שלך כשם משתמש ואת הטלפון שלך כקוד בכדי להרכשם למערכת. ניתן לשלוח מייל ל midburnerot.art@gmail.com
</li><br>

<li><b>שאלה: תאריכים חשובים</b><br>
<b>18/11</b> - דדליין הרשמה לאמנות<br>
<b>22/11</b> - תאריך הגשת תיקי בטיחות<br>
<b>01/12 - 05/12</b> - סבב חלוקת מענקי אמנות ראשון</b><br>
<b>16/12 - 21/12</b> - סבב חלוקת מענקי אמנות שני</b><br>
<b>29/12</b> - הארוע!</b>
</li><br>

<li><b>שאלה: מה זה מטבעות אמנות?</b><br>
תשובה: חלומות מידברנרות היא ספריה של הדימיון הקולקטיבי שלנו. אנחנו חולמים ביחד ומפיחים רוח חיים ליצירות המופרכות והאדירות שלנו. חלומות חייבים גם חומר כדי להתממש, ובמקום הזה אנחנו חולקים משאבים כדי שזה יקרה. <b>כל משתתף במידברנרות מקבל 10 מטבעות</b> לחלק לפי שיקול דעתו. תדמיינו את המטבעות האלה ככוחות על שאיתם אתם יכולים לממש את החלומות האלה.
</li><br>

<li><b>שאלה: על מה אפשר לקבל כסף וכמה? / מה חשוב לקחת בחשבון כשבונים את התקציב לצורך בקשת המענקים.</b><br>
תשובה: מדברנרות הוא אירוע קהילה קטן וצנוע וכך גם תקציב חלומות האמנות<br>
<b>חומרי גלם</b> - כן! לכאן רוב התקציב מיועד.<br>
<b>הובלה</b> - אנחנו יכולים לסייע בתקצוב הוצאות ההובלה. עם הסתייגות. לא יהיה לך מספיק בשביל לשכור רכב, אבל אולי בכדי לכסות הוצאות אם תצטרף להובלה משותפת עם מישהו נוסף.<br>
<b>השכרות</b> - כאן יש מספר הסתייגויות. אם האמן משכיר ציוד מיוחד ייתכן שהקהילה תממן, בעיקר במידה ומספר פרוייקטים יוכלו לעשות בו שימוש. אנחנו רוצים להמנע מ״שכירת״ ציוד ממישהו בתוך הקהילה.<br>
<b>עבודה</b> - אנחנו לא ממנים כל תשלום על עבודה.<br>
<b>ביצועים</b> - זהו פשוט סוג אחר של עבודה ואנחנו גם לא ממנים את זה.<br>
<b>מערכת סאונד</b> - אנחנו הולכים לשמור על החוק בו הקילה לא תממן השכרה או רכישה של ציוד סאונד. הסיבה לכך היא שמערכות סאונד הצליחו למצוא דרכן למידברנרות בלי לקבל מענקים. יש הרבה מאוד אנשים בתוך הקהילה ומסביבה שיש להם גישה למערכות סאונד וההשכרה שלהם לפיכך היא אזור אפור בו אנחנו מסכנים כסף שמיועד למענקים לכיסי המשתתפים או לחבריהם, וזוהי לא מטרת מענקי האמנות. עוד שיקול כאן הוא שמחנות סאונד לרוב מתפקדים טוב יותר עם צוות גדול יותר שדואג למערכת. אנחנו מעודדים אנשי מחנות סאונד להתארגן יחד/לגייס כספים בצורה פנימית או באמצעים יצירתיים אחרים.
</li><br>

<li><b>שאלה: כמה כסף לבקש?</b><br>
תשובה: כאן זה לא מידברן. הקהילה שלנו מכירה שיטות אחרות למימון כספים. לבקש יותר בשביל לקבל כמה שאנחנו רוצים.
כאן אנחנו נעבוד קצת אחרת - תבקשו את המינימום שנדרש בכדי לממן את החלום - לא כפול מזה לא כפול 1.5 פשוט כמה שאתם צריכים.
אם אתם חוששים שיהיו לכם הוצאות נוספות אך לא יודעים להעריך אותן היום ולפרט אותן, הן לא יכולות להכלל בתקציב.
נא לא לרשום סעיף ״הוצאות נוספות״ לדברים שאתם לא יכולים לפרט.
זה יאפשר לנו ולקהילה לחלק את המשאבים בצורה נכונה ולהגשים הרבה חלומות.
</li><br>

<li><b>שאלה: האם יהיו רוחות במדברנרות?</b><br>
תשובה: כן! ולכן יש לעגן את כל המיצבים בצורה טובה, חומרים אשר רק יונחו על הקרקע יש סיכוי טוב שיעופו.
</li><br>

<li><b>שאלה: האם ניתן להשתמש באש במיצב?</b><br>
תשובה: שימוש באש גלויה מצריך השגחה כל זמן שהאש דולקת (אש גלויה הכוונה: נרות, גזיה, עצים בתוך חבית ועוד), אין מניעה לשימוש באש במיצב לצורך חימום או אפקטים אחרים כל עוד חבר צוות המיצב משגיח.
אש לטובת שריפת מיצב – יש לעדכן במערכת החלומות כי המיצב נועד לשריפה.
</li><br>

<li><b>שאלה: האם יממנו לי את כל החלום?</b><br>
תשובה: כמה מתוך החלום ימומן תדע כשבוע לפני האירוע.
</li><br>

<li><b>שאלה: אם גייסתי את כל הכסף שביקשתי. מתי אקבלו?</b><br>
תשובה: לאחר האירוע - לאחר שהחלום באמת התממש והגיע לפלאייה (יש לשלוח לנו תמונה אחת לפחות שלו מהארוע). וגם הכסף יתקבל מול הצגת חשבוניות.
</li><br>

<li><b>שאלה: איך אפשר להסתמך על הכסף הזה אם יודעים כמה מקבלים רק ממש לקראת האירוע</b><br>
תשובה: רצוי להסתמך על מקורות עצמיים ולא על הכסף הזה. מדובר בתקציב קטן כשם שזהו אירוע קטן.
</li><br>

<li><b>שאלה: אם החלום שלי הוא לבנות אפיג׳י או טמפל. האם פה זה המקום לפתוח חלום?</b><br>
תשובה: כן
</li><br>

<li><b>שאלה: מה לגבי תיק בטיחות?</b><br>
תשובה: השנה ייצרנו פיצ׳ר חדש שמרכיב את התיק בטיחות בצורה אוטומטית מתוך החלום.<br>
אנא וודאי שכל השדות המסומנים בוורוד מלאים. אנא העלי את התמונות והשרטוטים לתוך החלום ואנחנו נייצר מהם בצורה אוטומטית תיק בטיחות.
</li><br>

<li><b>שאלה: מה יכול להיות חלום?</b><br>
תשובה: מיצב אמנות לפלאייה/לאחת מכיכרות העיר/סדנא ציבורית המצריכה חומרי גלם מיוחדים.
</li><br>

<li><b>שאלה: מאיפה מגיעה המערכת הקסומה הזאת?</b><br>
תשובה: מבורדרלנד - הברן הדנמרקי! <a href="http://dreams.theborderland.se/">dreams.theborderland.se</a>. הבורדרלנדרים פיתחו את קוד המקור ואנחנו (לשכת החלומות של מידברנרות) פיתחנו ליטשנו ומידברנו אותה לצרכים של המידברנרות.
</li><br>

<li><b>שאלה: אפשר לראות מה יש מאחורי הקימונו?</b><br>
בוודאי! המערכת נכתבה בקוד פתוח והיא זמינה <a href="https://github.com/rootux/firestarter/">כאן https://github.com/rootux/firestarter</a>
</li><br>

<li><b>שאלה: יש לי שאלה שלא קיימת פה. עם מי אפשר ליצור קשר?</b><br>
תשובה: כתבו לנו לאימייל של לשכת החלומות - midburnerot.art@gmail.com
</li><br><br><br><br>
</ul>
</div>