.header-safetybag-description {
  color: $c-pinky;
  font-weight: bold;
}

#light label {
	color: $c-pinky;
}

#moop label {
	color: $c-pinky;
}

.safety label {
	color: $c-pinky;
}

.hideme {
	display: none;
}

.safetybag-header {
	color: $c-pinky;
}