.header-safetybag-description {
  color: $c-pinky;
  font-weight: bold;
}

.safety label {
	color: $c-pinky;
}

.safetytext {
	color: $c-pinky;
	font-weight: bold;
}

.hideme {
	display: none;
}

.safetybag-header {
	color: $c-pinky;
}

.new_camp {
	a {
		text-decoration: underline;
	}
}

.loading-new-dream {
	margin: 20px;
	cursor: wait;
}