%button {
  @extend %no_select;
  display: block;
  padding: 13px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  @extend %textOverflowEllipsis;
}

.delete_button {
  @extend %button;
  background: $c-red;

  &:active {
    background: darken($c-red, 10%);
  }
}

.toggle_button {
  @extend %button;
  background: $c-blue;

  &:active {
    background: darken($c-blue, 10%);
  }
}

.granting_button {
  @extend %button;
  background: $c-blue;

  &:active {
    background: darken($c-blue, 10%);
  }
}

.submit_button {
  @extend %button;
  color: $c-green;

  &:active {
    background: darken($c-green, 10%);
  }
}

input,
textarea,
button {
  font-size: 1rem;
  color: $c-gray_dark;
  font-family: 'source-sans-Pro', sans-serif;
}
button {
  cursor: pointer;
  color: $c-green;
  width: 140px;
}

address {
  font-style: normal;
}

textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

input[type=text],
input[type=search],
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
}

input[type=submit] {
  @extend %button;
  width: 180px;
  margin-top: 15px;
  cursor: pointer;
}

input[type=checkbox] {
  margin: 0;
  margin-right: 4px;
  display: inline-block;
}


.registration_guide_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.membership_id_info {
  margin-top: 15px;
}

.camp-button {
  @extend %button;
  width: 180px;
  margin-top: 15px;
  cursor: pointer;
}

.field_with_errors {
  input[type=text],
  input[type=number],
  input[type=email],
  textarea {
    border: 1px solid $c-pinky;
    border-radius: 5px;
  }
}

a.fa:before {
  padding: 5px;
}

.camp_responsibles_person {
  display: inline;
}