a:hover {
  text-decoration: none;
}

.main_content {
  @extend %holder;
  padding: 20px 2px;
  color: rgb(0,0,0);
  width: 100%;
  margin-bottom: 20px;
}

body {
  background: white;
  color: rgb(215,230,244)
}

.notice {
  margin-bottom: 20px;
  color: rgb(105, 117, 57);
  background: rgb(223, 239, 215);
  padding: 10px;
  border: 1px solid rgb(214, 232, 196);
  border-radius: 5px;
}

.alert {
  margin-bottom: 20px;
  color: rgb(187, 76, 72);
  background: rgb(243, 222, 222);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(239, 211, 215);
  border-radius: 5px;
}

.footer-text {
  color: #818181;
  font-size: 12px;
}

.footer {
  padding: 20px 0;
  text-align: justify;
  color: #818181;
  font-size: 12px;

  a {
    text-decoration: underline;
  }

  span {
    
    color: $c-pinky;
  }
}

.footer_image_col {
  text-align: center;
}

.glyphicon {
  vertical-align: bottom;
}

.gi-1-5x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}