.coverphoto {
  @extend %holder;
  padding: 10px;
  margin: 0px;
  color: rgb(0, 213, 255);
  width: 100%;
  height: 210px;
  max-width: none;
}

.logophoto {
  @extend %holder;
  padding: 10px;
  margin: 10px 0px;
  color: rgb(0, 213, 255);
  width: 312px;
  height: 94px;
  max-width: none;
  background-repeat: no-repeat;
  background-size: 312px 94px;
}

.header-top-menu {
  display: inline-block;
  font-size: 52px;
  font-family: 'Dosis', sans-serif;
  weight: bold;
  background: none !important;
}

.coverphoto-panel {
  background-color: rgba(255,255,255,0.4);
}

.top_menu {
  padding-top: 0px;
    
  .row {
      margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
    background: rgba(235, 20, 120, 0.62);
    padding: 3px 8px;
    margin: 0 3px;

    &:hover {
        color: $c-pinky !important;
        background: rgba(0, 0, 0, 0.7) !important;
        border-radius: 4px;
      }
  }

  .dropdown {
    padding: 3px 8px;
    
    .dropdown-menu {
      background: none;
      color: white;

      &:hover {
        background: none;        
      }
    }
  }

}

.header-nav {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;

  a {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
  }

  .dropdown-menu>li>a {
    color: white;
  }

}

@media (max-width: 992px) {

  .top_menu {
    padding: 0;
  }

  .coverphoto {
    padding: 0;
  }

  .header-nav a {
    font-size: 18px;

    padding: 3px 7px;
  }
  .camps_list .camp-index {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .camps_list .camp-index img {
    width: 100%;
  }

  .header-nav a {
    font-size: 15px;

    padding: 3px 1px;
  }
}
